{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Alexander Carter</title>
		<meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link href="{% static 'images/A.png' %}" rel="icon"/>

		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
        <link rel="stylesheet" href="{% static 'assets/css/google_doc.css' %}"/>

	</head>
	<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
                    <nav id="nav">
                        <a href="#" class="icon solid fa-home"><span>Home</span></a>
                        <a href="#cv" class="icon solid fa-file-alt"><span>CV</span></a>
                        <a href="#projects" class="icon solid fa-code"><span>Projects</span></a>
                        <a href="#writing" class="icon solid fa-pen-fancy"><span>Writings</span></a>
                        <a href="https://linkedin.com/in/ac2522" target="_blank" class="icon brands fa-linkedin"><span>Linkedin</span></a>
                        <a href="https://github.com/ac2522" target="_blank" class="icon brands fa-github"><span>Github</span></a>
                    </nav>

				<!-- Main -->
					<div id="main">

						<!-- Me -->
							<article id="home" class="panel intro">
								<header>
									<h1>Alexander Carter</h1>
									<p>Software engineer</p>
								</header>
								<a href="#cv" class="jumplink pic">
									<span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
									<img src="{% static 'images/me3.jpg' %}" alt="" />
								</a>
							</article>

						<!-- Work -->
                            <article id="cv" class="panel">
                                <body class="c33 c48 doc-content">
                                    <p class="c13 c27"><span class="c53">Alexander Carter</span></p>
                                    <p class="c13 c47">
                                        <span class="c30">Email: </span>
                                        <span class="c34 c30"><a class="c17" href="mailto:alex.ivo.carter@gmail.com">alex.ivo.carter@gmail.com</a></span>
                                        <span class="c30">&nbsp; | Phone: +44 7901778830</span>
                                        <span class="c30">&nbsp;| Website: </span>
                                        <span class="c30 c34"><a class="c17" href="#">www.alexander-carter.co.uk</a></span></p>
                                    <hr></hr>
                                    <p class="c15 c13"><span class="c18">Education</span></p>
                                    <a id="t.50a085439bf9958cdb4124899057860164219e1d"></a><a id="t.0"></a>
                                    <table class="c24">
                                        <tr class="c12">
                                            <td class="c52" colspan="1" rowspan="1">
                                                <p class="c2"><span class="c1">St Andrews MSc Artificial Intelligence: Merit</span></p>
                                                <ul class="c7 lst-kix_w3tq4xpbvbic-0 start">
                                                    <li class="c2 c32 li-bullet-0">
                                                        <span class="c10">Dissertation:</span>
                                                        <span class="c0">&nbsp;Predicting the product of chemical reactions with a range of molecular encodings</span></li>
                                                </ul>
                                                <p class="c2"><span class="c1">University of Bath BSc Mathematics: 2:1</span></p>
                                                <ul class="c7 lst-kix_w3tq4xpbvbic-0">
                                                    <li class="c2 c32 li-bullet-0"><span class="c0">Bath Gold Scholar (1 of 50 selected)</span></li>
                                                </ul>
                                                <p class="c2"><span class="c10">Pearson College UWC - </span><span class="c0">full scholarship (2 out of over 1000 applicants)</span></p>
                                            </td>
                                            <td class="c50" colspan="1" rowspan="1">
                                                <p class="c3 c13"><span class="c4">2021-2022</span></p>
                                                <ul class="c7 lst-kix_4ygh6s5a87tk-0 start">
                                                    <li class="c3 c11 li-bullet-1"><span class="c26 c23 c22">_</span></li>
                                                </ul>
                                                <p class="c3 c13"><span class="c4">2017-2020</span></p>
                                                <ul class="c7 lst-kix_kke1cvubtp85-0 start">
                                                    <li class="c3 c11 li-bullet-2"><span class="c23 c22 c26">_</span></li>
                                                </ul>
                                                <p class="c3 c13"><span class="c22 c23">2015-2017</span></p>
                                            </td>
                                        </tr>
                                    </table>
                                    <hr></hr>
                                    <p class="c15 c13"><span class="c18">Relevant Experience</span></p>
                                    <a id="t.fa33ac034b7c77eec4413fc421ee87098713a153"></a><a id="t.1"></a>
                                    <table class="c24">
                                        <tr class="c12">
                                            <td class="c19" colspan="1" rowspan="1">
                                                <p class="c2"><span class="c1">Google Developers Club</span></p>
                                                <p class="c2"><span class="c1">Google Bold Immersion programme</span></p>
                                                <p class="c2"><span class="c10">Charisma.ai: </span><span class="c0">Freelance work</span></p>
                                                <p class="c2"><span class="c10">Teaching Python: </span><span class="c22">Classes of up to 50 undergraduates, from basics to building an automated trading bot</span></p>
                                                <ul class="c7 lst-kix_ucodcunno1jq-0 start">
                                                    <li class="c2 c20 li-bullet-3"><span class="c22">Designed a 20 hour interactive course, alongside occasional homework notebooks</span></li>
                                                </ul>
                                                <p class="c2"><span class="c10">Jump.work:</span><span class="c0">&nbsp;Sentiment analysis, text similarity, machine learning, database exploration</span></p>
                                                <ul class="c7 lst-kix_ucodcunno1jq-0">
                                                    <li class="c5 c20 c36 li-bullet-3"><span class="c22">Improved targeting accuracy from an f1 score of 1.8% to 53.5%</span></li>
                                                    <li class="c2 c20 li-bullet-3"><span class="c0">Automated categorisation of customer service emails with weekly self-generating analysis reports</span></li>
                                                </ul>
                                                <p class="c2"><span class="c10">University of Bath:</span><span class="c0">&nbsp;Built a database, and led an independent research study</span></p>
                                                <p class="c2"><span class="c10">GFC Economics: </span><span class="c0 c33">Involved teamwork, report writing, creative thinking and market analysis</span></p>
                                                <p class="c21 c13">
                                                    <span class="c10">Led a team of private researchers: </span>
                                                    <span class="c22">Successfully </span><span class="c6">grew client base </span>
                                                    <span class="c22">for &lsquo;V</span><span class="c0 c33">ancouver Writers&rsquo; Exchange</span></p>
                                                <p class="c21 c13"><span class="c10">The MET Office:</span><span class="c22">&nbsp;Utilised Python to form weather models and presented ideas on improving outreach</span></p>
                                            </td>
                                            <td class="c35" colspan="1" rowspan="1">
                                                <p class="c3 c5"><span class="c4">2021-2022</span></p>
                                                <p class="c3 c5"><span class="c4">07-10/2020</span></p>
                                                <p class="c3 c5"><span class="c4">06-07/2020</span></p>
                                                <p class="c3 c5"><span class="c4">2018-2020</span></p>
                                                <ul class="c7 lst-kix_pte9y7mafllv-0 start">
                                                    <li class="c3 c11 c41 li-bullet-1"><span class="c26 c23 c22">_</span></li>
                                                </ul>
                                                <p class="c3 c5"><span class="c4">06-09/2019</span></p>
                                                <ul class="c7 lst-kix_a41vheqkssv9-0 start">
                                                    <li class="c11 c40 li-bullet-1"><span class="c26 c23 c22">_</span></li>
                                                    <li class="c3 c11 c41 li-bullet-2"><span class="c26 c23 c22">_</span></li>
                                                </ul>
                                                <p class="c3 c5"><span class="c4">06/2018</span></p>
                                                <p class="c3 c5"><span class="c4">2014-2017</span></p>
                                                <p class="c3 c5"><span class="c4">02-03/2017</span></p>
                                                <p class="c3 c5"><span class="c4">06/2014</span></p>
                                            </td>
                                        </tr>
                                    </table>
                                    <hr></hr>
                                    <p class="c13 c15"><span class="c18">Personal Projects</span></p>
                                    <a id="t.f966dce9b2f82ffb52b7f0bccfaff3019464a135"></a><a id="t.2"></a>
                                    <table class="c24">
                                        <tr class="c12">
                                            <td class="c45" colspan="1" rowspan="1">
                                                <p class="c2"><span class="c10">Poker game: </span><span class="c0">Web application to play against adaptable AI, with reinforcement neural network</span></p>
                                                <p class="c2"><span class="c10">Puzzle Solver:</span><span class="c0">&nbsp;Using convolutional line detection, contour and colour matching to beat out CNN&rsquo;s</span></p>
                                                <p class="c2"><span class="c10">Dog Training:</span><span class="c0">&nbsp;Trained a CNN to classify dog posture to 99% acc, and built a treat release mechanism</span></p>
                                                <p class="c2"><span class="c10">Compact Security Camera: </span><span class="c0">Arduino controlled, with motion detector, web app and email notifications</span></p>
                                                <p class="c2"><span class="c10">Automated Trading:</span><span class="c0">&nbsp;Scrapes football odds and results, XGBoost predicts best ROI, Selenium places bet</span></p>
                                                <p class="c2"><span class="c10">Debate bot: </span><span class="c22">Scraping and automating across platforms, utilising NLP and GPT-2 and a news api</span></p>
                                            </td>
                                        </tr>
                                    </table>
                                    <hr></hr>
                                    <p class="c15 c13"><span class="c18">Additional Experience</span></p>
                                    <a id="t.2b7a13ba692047e221f5bdfd3f2a221879dfd07a"></a><a id="t.3"></a>
                                    <table class="c24">
                                        <tr class="c12">
                                            <td class="c9" colspan="1" rowspan="1">
                                                <p class="c21 c13"><span class="c10">Young carer: </span><span class="c22">Looking after older sister, who suffers from OCD, dyslexia and is on the autistic spectrum</span></p>
                                                <p class="c21 c13"><span class="c10">Volunteering</span><span class="c0">: Music festivals with Oxfam, caring for the incapacitated</span></p>
                                                <p class="c21 c13"><span class="c10">Finance Society Secretary</span><span class="c0">: Weekly newsletters, market outlook sessions, organising a conference</span></p>
                                                <p class="c13 c21"><span class="c10">TEDX talk</span><span class="c0">: Flaws of the UK mental health services</span></p>
                                                <p class="c21 c13"><span class="c10">Formed and chaired a Current Affairs group</span><span class="c0">: Led a week of workshops at local school</span></p>
                                                <p class="c21 c13"><span class="c10">The SCA: </span><span class="c0">Cutting trails in Alaska, cleaning culverts in Michigan, building bridges in Tennessee</span></p>
                                                <p class="c21 c13"><span class="c10">Tutoring kids: </span><span class="c0">Providing academic assistance to struggling kids</span></p>
                                                <p class="c21 c13"><span class="c10">National finals for the UKMT</span></p>
                                            </td>
                                            <td class="c38" colspan="1" rowspan="1">
                                                <p class="c3"><span class="c4">2013-Pres</span></p>
                                                <p class="c3"><span class="c4">2017-2019</span></p>
                                                <p class="c3"><span class="c4">2017-2018</span></p>
                                                <p class="c3"><span class="c4">01/2017</span></p>
                                                <p class="c3"><span class="c4">2016-2017</span></p>
                                                <p class="c3"><span class="c4">2015-2017</span></p>
                                                <p class="c3"><span class="c4">2014-2015</span></p>
                                                <p class="c3"><span class="c4">2014</span></p>
                                            </td>
                                        </tr>
                                    </table>
                                    <hr></hr>
                                    <p class="c15 c13"><span class="c18">About Me</span></p>
                                    <a id="t.cb7d642342cae8e8bc30d15bcbcbcca421e4cce3"></a><a id="t.4"></a>
                                    <table class="c24">
                                        <tr class="c46">
                                            <td class="c42" colspan="1" rowspan="1">
                                                <p class="c21 c13"><span class="c10">Technical Skills</span></p>
                                                <p class="c21 c13"><span class="c10">Languages</span></p>
                                                <p class="c21 c13"><span class="c10">Interests</span></p>
                                            </td>
                                            <td class="c16" colspan="1" rowspan="1">
                                                <p class="c21 c13"><span class="c0">Python &middot; Java &middot; Pytorch &middot; Tensorflow &middot; OpenCV &middot; Django &middot; SQL &middot; AWS &middot; Scraping</span></p>
                                                <p class="c21 c13"><span class="c0">French &middot; semi-fluent in Dog</span></p>
                                                <p class="c21 c13"><span class="c0">Poker &middot; Chess &middot; Writing &middot; Screenwriting &middot; Running with dog</span></p>
                                            </td>
                                        </tr>
                                    </table>
                                    <hr></hr>
                                </body>
                                

                                <a href="{% static 'assets/docs/CV.pdf' %}" download>
                                    <img src="{% static 'images/download.png' %}" width="40" height="40" 
                                         style="display: block;
                                         margin-left: auto;
                                         margin-right: auto;">
                                </a>

                            </article>

                        <!-- Projects -->
                            <article id="projects" class="panel">
                                
                                <img id="exit" class="hide" src="{% static 'images/exit.png' %}" alt="X"></img>
                                <iframe id="pg1" frameboarder="0" class=hidden src="" ></iframe>
                                <hr>
                                <section>
                                    <div class="row" id="writ_images">
                                        <!--<div class="col-4 col-6-medium col-12-small" onclick="embed('https://www.youtube.com/embed/MQl88faA55o?autoplay=1', 'pg1', 'yt')">
                                            <a class="image fit"><img src="{% static 'images/pic03.jpg' %}" alt=""></a>
                                        </div>-->
                                        <div class="col-4 col-6-medium col-12-small" onclick="embed('https://www.youtube.com/embed/niHivDOFi4M', 'pg1', 'yt')">
                                            <a class="image fit">
                                                <img src="{% static 'images/dog.png' %}" alt="">
                                                <p class="desc">Dog training device<br>CNN posture classifier<br>and treat release mechanism</p>
                                            </a>
                                        </div>
                                        <div class="col-4 col-6-medium col-12-small" onclick="embed('https://www.youtube.com/embed/JCpdTBYMCaY', 'pg1', 'yt')">
                                            <a class="image fit">
                                                <img src="{% static 'images/email.png' %}" alt="">
                                                <p class="desc">Arduino security cam<br>with real time monitor,<br>motion detector and<br>email alerts</p>
                                            </a>
                                        </div>
                                        <div id="dissslider" class="col-4 col-6-medium col-12-small" onclick="embed('https://drive.google.com/file/d/17OCrONCa6Sv3dgWhio35FAVP2rTC9i7S/preview', 'pg1', 'pdf')">
                                            <a class="image fit diss" >
                                                <div class="marquee">
                                                    <img class="smallchem" id="pic0" src="{% static 'images/eq0.png' %}" alt="">
                                                    <img id="space" src="{% static 'images/space.png' %}" alt="">
                                                    <img class="bigchem" id="pic1" src="{% static 'images/eq1.png' %}" alt="">
                                                    <img id="space" src="{% static 'images/space.png' %}" alt="">
                                                    <img class="smallchem" id="pic2" src="{% static 'images/eq2.png' %}" alt="">
                                                    <img id="space" src="{% static 'images/space.png' %}" alt="">
                                                    <img class="smallchem" id="pic3" src="{% static 'images/eq3.png' %}" alt="">
                                                    <img id="space" src="{% static 'images/space.png' %}" alt="">
                                                    <img class="bigchem" id="pic3" src="{% static 'images/eq4.png' %}" alt="">
                                                    <img id="space" src="{% static 'images/space.png' %}" alt="">
                                                    <img class="bigchem" id="pic3" src="{% static 'images/eq5.png' %}" alt="">
                                                    <img id="space" src="{% static 'images/space.png' %}" alt="">
                                                </div>
                                                <p class="desc">Dissertation<br>Predicting chemical reactions<br>with different molecular representations</p>
                                            </a>
                                        </div>

                                        <div class="col-4 col-6-medium col-12-small" onclick="embed('https://www.youtube.com/embed/cIEVhuCOvQg', 'pg1', 'yt')">
                                            <a class="image fit">
                                                <div id="zoom" class="z-base">
                                                    <img id="corridor"  src="{% static 'images/corridor.jpg' %}" alt="">
                                                </div>
                                                <div id="hov-left"></div>
                                                <div id="hov-mid"></div>
                                                <div id="hov-right"></div>
                                            </a>
                                        </div>

                                
                                        <div class="col-4 col-6-medium col-12-small">
                                            <a class="image fit cursor">
                                                <img src="{% static 'images/jump.jpg' %}" alt="">
                                                <p class="desc">Jump Work<br>Predicting job applicants and hires based on CV and job spec</p>
                                            </a>
                                        </div>
                                        <div class="col-4 col-6-medium col-12-small">
                                            <a class="image fit cursor">
                                                <img src="{% static 'images/poker.jpg' %}" alt="">
                                                <p class="desc">Poker AI Website<br>In Deployment Process</p>
                                            </a>
                                        </div>

                                        <div class="col-4 col-6-medium col-12-small">
                                            <a class="image fit cursor">
                                                <img id="p0" class="puzzle" src="{% static 'images/puz0.png' %}" alt="">
                                                <img id="p1" class="puzzle" src="{% static 'images/puz1.png' %}" alt="">
                                                <img id="p2" class="puzzle" src="{% static 'images/puz2.png' %}" alt="">
                                                <img id="p3" class="puzzle" src="{% static 'images/puz3.png' %}" alt="">
                                                <img src="{% static 'images/white.png' %}" alt="">
                                                <span class="midbox">
                                                    <p class="progress">In<br>Progress</p>
                                                </span>

                                            </a>
                                        </div>
                                        <div class="col-4 col-6-medium col-12-small">
                                            <a href="#" class="image fit"><img src="{% static 'images/pic08.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="col-4 col-6-medium col-12-small">
                                            <a href="#" class="image fit"><img src="{% static 'images/pic09.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="col-4 col-6-medium col-12-small">
                                            <a href="#" class="image fit"><img src="{% static 'images/pic10.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="col-4 col-6-medium col-12-small">
                                            <a href="#" class="image fit"><img src="{% static 'images/pic11.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="col-4 col-6-medium col-12-small">
                                            <a href="#" class="image fit"><img src="{% static 'images/pic12.jpg' %}" alt=""></a>
                                        </div>
                                    </div>
                                </section>
                            </article>

                        <!-- Writing -->
                        <article id="writing" class="panel">
                            <img id="exit2" class="hide" src="{% static 'images/exit.png' %}" alt="X"></img>
                            <iframe frameboarder="0" class=hidden src="" id="pg2" ></iframe>
                            <hr>
                            <section>


                                
                                <div class="row" id="writ_images">

                                    <div class="col-4 col-6-medium col-12-small" onclick="embed('https://drive.google.com/file/d/1zNfnObjPEYh0oXnEh-46-LUEZWzZuNrW/preview', 'pg2', 'pdf')">
                                        <a class="image fit">
                                            <img src="{% static 'images/lib.jpg' %}" alt="">
                                            <h3 class="caption">The Last Library</h3>
                                            <p class="desc">Screenplay<br>The search for purpose within an AI utopia</p>
                                        </a>
                                    </div>

                                    <div class="col-4 col-6-medium col-12-small" onclick="embed('https://drive.google.com/file/d/1P3o1oY9QA6Dvyc5YQUY_g5cbpRlXppFm/preview', 'pg2', 'pdf')">
                                        <a class="image fit">
                                            <img src="{% static 'images/pic01.jpg' %}" alt="">
                                            <h3 class="caption">A Long Journey</h3>
                                            <p class="desc">Screenplay<br>Onboard a cargo ship, life can be monotonous and claustrophobic.</p>
                                        </a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small" onclick="embed('https://drive.google.com/file/d/1Pt9XHL2Q4SXmOEEbijKmQS1-AWob6LUD/preview', 'pg2', 'pdf')">
                                        <a class="image fit">
                                            <img src="{% static 'images/pic02.jpg' %}" alt="">
                                            <h3 class="caption">The Ramblings<br>of an Inept Alcoholic</h3>
                                            <p class="desc">Short story<br>The coming of age of an aspiring alcoholic</p>

                                        </a>
                                    </div>
                                    <!--<div class="col-4 col-6-medium col-12-small" onclick="myYT1('https://www.youtube.com/embed/MQl88faA55o?autoplay=1', 'pg2', 'yt')">
                                        <a class="image fit"><img src="{% static 'images/pic03.jpg' %}" alt=""></a>
                                    </div>-->
                                    <div class="col-4 col-6-medium col-12-small" onclick="embed('https://drive.google.com/file/d/1VMcvwKaJNOoupYB1cAEAzzz1JIxyWAX4/preview', 'pg2', 'pdf')">
                                        <a class="image fit">
                                            <img src="{% static 'images/pic03.jpg' %}" alt="">
                                            <h3 class="caption">Generations Passed</h3>
                                            <p class="desc">Short story<br>An account of a music festival inspired by Hunter S. Thompson</p>

                                        </a>
                                    </div>

                                    <div class="col-4 col-6-medium col-12-small" onclick="embed('https://drive.google.com/file/d/1tEpkK2Lg9oeesT9dcHf-PXfQbxlCanrq/preview', 'pg2', 'pdf')">
                                        <a class="image fit">
                                            <img src="{% static 'images/sparrow.jpg' %}" alt="">
                                            <h3 class="caption">I Wish to Be a Sparrow</h3>
                                            <p class="desc">Short story<br>A satirical rant on the fearmongering of Catholicism</p>

                                        </a>
                                    </div>

                                    <div class="col-4 col-6-medium col-12-small" onclick="embed('https://drive.google.com/file/d/14G4L2RyyI4_9BfOYYj27-MXVAocTMhFa/preview', 'pg2', 'pdf')">
                                        <a class="image fit">
                                            <img src="{% static 'images/grave.jpg' %}" alt=""> 
                                            <h3 class="caption">Forty Winks</h3>
                                            <p class="desc">Short Screenplay<br>An English version of "The Death of Ivan Ilyich"</p>

                                        </a>
                                    </div>



                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="{% static 'images/pic06.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="{% static 'images/pic07.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="{% static 'images/pic08.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="{% static 'images/pic10.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="{% static 'images/pic11.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="col-4 col-6-medium col-12-small">
                                        <a href="#" class="image fit"><img src="{% static 'images/pic12.jpg' %}" alt=""></a>
                                    </div>
                                </div>
                            </section>
                        </article>



						<!-- Contact
							<article id="contact" class="panel">
								<header>
									<h2>Contact Me</h2>
								</header>
								<form action="#" method="post">
									<div>
										<div class="row">
											<div class="col-6 col-12-medium">
												<input type="text" name="name" placeholder="Name" />
											</div>
											<div class="col-6 col-12-medium">
												<input type="text" name="email" placeholder="Email" />
											</div>
											<div class="col-12">
												<input type="text" name="subject" placeholder="Subject" />
											</div>
											<div class="col-12">
												<textarea name="message" placeholder="Message" rows="6"></textarea>
											</div>
											<div class="col-12">
												<input type="submit" value="Send Message" />
											</div>
										</div>
									</div>
								</form>
							</article>
					</div> -->
                    </div>
            </div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
			<script>

				function embed(name, pg, type) {
					var x = document.getElementById(pg);
					if (x.src == name) {
                        x.className = "hidden";
                        x.src = "";
                        $("#exit, #exit2").addClass("hide");
					}
					else {
                        $("#exit, #exit2").removeClass("hide");
                        x.className = type;
						x.src = name;
				  		document.body.scrollTop = 0;
  						document.documentElement.scrollTop = 0;
					}
				}
                function close(loc) {
                    console.log(loc);
                    $(loc).attr('class', 'hidden').removeAttr("src");
                }

                $("#nav a").click(function() {
                    close("#pg1");
                    close("#pg2");
                    $("#exit, #exit2").addClass("hide");
                })


                $("#exit").click(function() {
                    close("#pg1");
                    $(this).addClass("hide");
                })

                $("#exit2").click(function() {
                    close("#pg2");
                    $(this).addClass("hide");
                })

                $("#hov-left").mousemove(function() {
                    if ($("#zoom").hasClass("z-base")) {
                        $("#zoom").toggleClass("z-base z-left");
                        setTimeout(function(){
                            $("#zoom").toggleClass("z-base z-left");
                        },2010)
                    }
                });

                $("#hov-right").mousemove(function() {
                    if ($("#zoom").hasClass("z-base")) {
                        $("#zoom").toggleClass("z-base z-right");
                        setTimeout(function(){
                            $("#zoom").toggleClass("z-base z-right");
                        },2010)
                    }
                });
            
                $("#hov-mid").mousemove(function() {
                    if ($("#zoom").hasClass("z-base")) {
                        $("#zoom").toggleClass("z-base z-in");
                        setTimeout(function(){
                            $("#zoom").toggleClass("z-base z-in");
                        },5010)
                    }
                });
			</script>

	</body>
</html>
